<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
    <title>ExpressEx</title>
</head>
<body>
    <header>
        <nav>
            <ul class="right-nav">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="left-nav">
                <li><a href="/user/login">Login</a></li>
                {{#if currentUser}}
                    <li>{{currentUser.username}}</li>
                {{else}}
                    <li><a href="/user/register">Register</a></li>
                {{/if}}
                {{#if globalError}}
                    <h3>{{globalError}}</h3>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>