/*---------------------
    Generic tag styling
-----------------------*/

html{
    background:#414141;
    color:white;
}
form{
    width:30%;
    display: flex;
    flex-flow: column;
    margin:40px auto;
    align-items: center;
}
label{
    width:90%;
    padding: 20px;
}
input{
    width:70%;
}
input[type="submit"]{
    width:30%;
}
a{
    color:white;
    text-decoration: none;
}

/*---------------------
    HEADER NAVIGATION
-----------------------*/
nav>ul{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav>ul>li{
    list-style: none;
    padding:0 20px;
}

/*---------------------
    Temporal message boxes
-----------------------*/
.error{
    color:red;
    text-align: center;
    font-size: 2.0em;
}
